{% extends 'store/base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to crystal code...</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae ultricies magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam maximus dolor quis erat egestas commodo. Suspendisse libero massa, egestas nec sem vitae, tempor semper ante. Fusce varius nibh sed orci pretium feugiat. Quisque neque augue, interdum non velit at, maximus aliquet purus. Suspendisse nec urna sed velit pharetra semper. Pellentesque pellentesque quam non ante venenatis, sed dignissim erat laoreet.
<br/><br/>
Ut porta vehicula erat. Nullam a posuere magna. Nunc condimentum turpis metus, sed elementum est semper a. Nulla pulvinar purus lectus, in aliquam turpis elementum et. Etiam mollis erat diam, eget blandit libero ornare ut. Sed tincidunt enim erat, nec ullamcorper diam semper semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec enim mauris, viverra nec metus quis, ornare malesuada nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod eleifend metus, eu vestibulum nunc porta ac. Vivamus viverra laoreet tellus vitae maximus. Curabitur neque metus, iaculis fringilla sem id, porttitor rutrum risus. Nullam nunc sapien, hendrerit ut facilisis non, sollicitudin eget quam. Integer et hendrerit arcu. Sed non suscipit augue.
<br/><br/>
Integer vulputate posuere eros, dapibus egestas nunc efficitur a. Donec luctus condimentum est, vel sagittis risus placerat sit amet. Aliquam varius urna imperdiet rhoncus dapibus. Ut faucibus diam vitae aliquet cursus. Sed eros massa, aliquet et ornare ac, facilisis eget purus. Duis at convallis lectus. Pellentesque eu aliquet ipsum. Pellentesque tempor tellus vestibulum, dictum quam suscipit, mattis augue. Quisque sagittis imperdiet turpis, sit amet aliquam erat venenatis nec. Fusce dignissim ultricies lobortis. Aliquam luctus eros consequat tellus facilisis convallis. Etiam lacinia ligula neque, id bibendum dolor molestie et. Morbi et massa quis purus suscipit varius. Integer facilisis felis id accumsan pulvinar. Pellentesque volutpat semper fringilla.
       <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}